<!DOCTYPE html> 
<html>

<head>
  <title>BikeAlert</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true">
  </script>
  <script src="static/map.js"></script>
</head>

<body>
<div id="main">
  <header>
    <div id="strapline">
      <div id="welcome_slogan">
	<h3>BikeAlert</h3>
      </div><!--close welcome_slogan-->
    </div><!--close strapline-->	  

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BikeAlert</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="http://www.slideshare.net/ChenKuanLin/kuan-lin-chenweek5demo" target = "blank_">Slides</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  </header>    
  
  <div id="site_content">
    <div class="content_item">
	<h3>Simulating bike sharing system trip logs in real-time</h3> 
      </div><!--close content-->
    <div id="map-container">
       <div id="map-canvas"></div>
    </div>
    <div id="content">

      </div><!--close content-->   
  </div><!--close site_content-->  	
  
</div><!--close main-->

</body>
</html>
